/* Styling for card title */
.cardtitle{
    color: #000;
font-family: Roboto;
font-size: 32.222px;
font-style: normal;
font-weight: 100;
line-height: normal;
}
/* Styling for form labels */
.formlabel{
    color: #000;
    font-family: Roboto;
    font-size: 17.222px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-bottom:  5px;
}
/* Styling for bottom text */
.bottomtext{
    color: #000;
    font-family: Roboto;
    font-size: 14.222px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:  15px;
}
/* Styling for bottommost text */
.bottommosttext{
    color: #000;
    font-size: 13px;
}
/* Styling for footer */
.footer{
    position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2E0052;
  color: white;
  padding: 10px;
  }
  .horizontalLine {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-top: 1px solid #2E0052;
  }